<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Acceso</title>
</head>
<body>
    <h2>Hola, @@Nombre !!</h2>
    <p>Se ha hecho una solicitud a este correo para recuperar el acceso a NeonFitness.</p>
    <p>Tu código de recuperación es: <strong></strong></p>
    <p>Tienes un aproximado de <strong>30 minutos</strong> desde que se envió este correo para poder usar el codigo brindado.</p>
    <p>Si no realizaste esta solicitud, ignora este mensaje.</p>
    <p> </p>
    <p>A continuacion siga los siguientes pasos para poder acceder al cambio de contraseña:</p>
    <p><strong>En la URL actual donde envió su solicitud, modifique los datos por el siguiente texto:</strong></p>
    <p>http://<strong>{localhost Actual}</strong>/Login/CambiarContrasena?token=<strong>@@Contrasenna</strong></p>
    <p> </p>
    <p>Al realizar esto, será redireccionado al sitio donde puede modificar su contraseña</p>
    <p>Un saludo desde el equipo tecnico de NeonFitness!!</p>
</body>
</html>
